body {
	padding-bottom: 1em;
	background-color: #F0F0F0;
}

.circle {
    border-radius: 50%;
}

.centerText {
    text-align: center;
}

.white {
    background-color: white;
}

.grey {
	color: #777777;
}

.whiteText {
    font-color:asdf
}

.headerCircle {
    transition: background-color 0.5s ease;
    width: 1.3em;
    height: 1.3em;
    margin-left: auto;
    margin-right: auto;
}

.headerCircle:hover {
    background-color: #FF6600;
}

.navbar-brand {
    display: block;
    position: absolute;
    width: 1.5em;
    text-align: center;
    left: 46%;
}

@media screen and (max-width: 40.5em) {
    .navbar-inverse {
        font-size: 2em;
    }
    
    .navbar-brand {
        top:-10em;
    }
}

@media screen and (max-width: 990px) {
	.mobileWidth {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.mobileCenter {
		margin-left: auto;
		margin-right: auto;
	}
}

.navbar-inverse {
    border-radius: 0px;
    border: 0px;
    background: -webkit-linear-gradient(left, #557EBF, #48B9A6);
    background: -moz-linear-gradient(left, #557EBF, #48B9A6);
    background: -o-linear-gradient(left, #557EBF, #48B9A6);
    background: linear-gradient(to right, #557EBF, #48B9A6);
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #FF6600;
}

.bold {
    font-weight: bolder;
}

.unbold {
    font-weight: lighter;
}

.spacer {
    padding-top: 3em;
}

.getSkinny {
	margin-left: 1em;
}

.fullWidth {
    width: 100%;
}

.3height {
	height: 3em;
}

.undecked,.undecked:hover, .undecked:focus {
	text-decoration: none;
}

.row-centered {
    text-align:center;
}

.col-centered {
	display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}

.top-soft-corners {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.bottom-soft-corners {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.bottom-sharp-corners {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.standardBox {
	height: 15em;
	border: 1px solid #CCCCCC;
	margin-bottom: 1.2em;
}

.gruntBox {
	padding: .5em;
	min-height: 7em;
	border: 1px solid #CCCCCC;
	overflow:auto;
	margin-bottom: -1px;
}

.gruntBox:hover {
	background-color: #eeeeee;
}

.bordered {
	border: 1px solid #CCCCCC;
}

.superBordered {
	border: 3px solid #CCCCCC;
}

.pictureBox {
	height: 7em;
	width: 100%;
	background-color: #FF6600;
}

.leanRight {
	float: right;
}

.noOverflow {
	overflow: hidden;
}

.buffer {
	margin: .2em;
}

.mostWidth {
	width: 98%;
}

.inForARoughRide {
	padding: 3px;
}

.gruntInputBox:empty:not(:focus):before {
	content:attr(data-text);
}

.gruntInputBox:empty {
	color: #999999;
}

.gruntInputBox:not(:empty) {
	color: black;
}

.gruntInputBox {
	background-color: #F0F0F0;
	margin: 1em;
	width:calc(100% - 2em);
	height: 4em;
	overflow: auto;
}

.gruntButton {
	margin-right: 1em;
	margin-top: -.5em;
	margin-bottom: .5em;
}

.max20 {
	max-width: 20em;
}

.thumbPH {
	height: 3.5em;
	width: 3.5em;
	margin-right: .5em;
	background-color: #FF6600;
	vertical-align: top;
	float:left;
}

.largeThumbPH {
	height: 7em;
	width: 7em;
	margin-left: .5em;
	margin-right: .5em;
	margin-top: -3.5em;
	background-color: #FF6600;
	float: left;
}

.highlightedBorderOnHover:hover {
	border: 2px solid #FF6600;
}

.inlineBlock {
	display: inline-block;
}

.eogBox {
	color: #CCCCCC;
	padding: 5px;
	font-style: italic;
	text-align: center;
}

.gruntData {
	width: calc(100% - 4.5em);
	float:left;
}

.gruntMessageContent {
	margin-top: 1em;
}

.gruntMessageContent pre, .gruntMessageContent img {
	width: 100%;
}

.profileData {
	width: calc(100% - 8em);
	margin-left: 8em;
}

.hangLeft {
	float: left;
}

.thirdWidth {
	width: 33%;
	text-align: center;
}

.error {
	color: red;
	font-style: italic;
}

.onACloud {
	margin-bottom: .5em;
}


.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Profile img';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  height: 2em;
  margin-top: -.2em;
  margin-left: -.7em;
}

.custom-file-input:hover::before {
  border-color: black;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.bar {
	height: 100%;
    background: green;
    width: 0%;
}

.seeThroughBackdrop {
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index:1 !important;
	background: black;
	opacity: 0.3;
}

.frontAndCenter {
	background-color: #F0F0F0;
	width: 23em;
	height: 17em;
	z-index:2 !important;
	position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    text-align: center;
}

.progressContainer {
	background-color: white;
	width: 100%;
	border: #CCCCCC;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0;
}

.left70Box {
	width: 70%;
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 1em;
}

.right30FakeButton {
	width: 30%;
    float: left;
    border: solid 1px #CCCCCC;
    height: 2.6em;
    color: #EEEEEE;
    font-weight: bold;
    background-color: #557EBF;
    margin-left: -1px;
    margin-top: -1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: .4em;
}

.right30FakeButton:hover {
	background-color: #48B9A6;
}

.clickable {
	cursor: pointer;
}