@()(implicit session: play.api.mvc.Session)
<html>
	@partials.headtag("OpenWalrus")
	<body>
		@partials.navbar() {
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@routes.Application.signup" class="unbold">Want to join? <span class="bold">Sign up</span></a></li>
                <li><a href="@routes.Application.loadLogin" class="unbold">Have an account? <span class="bold">Log in</span></a></li>
            </ul>
       	}
       	<h1 style="text-align: center;">Welcome to the winning team</h1>
       	@partials.commonscripts()
	</body>
</html>
