@(profileData: UserTO, grunts: List[GruntTO], gruntProfilesData: Map[String, UserTO])(implicit session: play.api.mvc.Session)

<html>
	@partials.headtag("Openwalrus @" + profileData.handle)
	<body>
		@partials.navbar() {
			@if(session.get("userHandle").isEmpty) {
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@routes.Application.signup" class="unbold">Have an account? <span class="bold">Sign up</span></a></li>
					<li><a href="@routes.Application.loadLogin" class="unbold">Have an account? <span class="bold">Log in</span></a></li>
                </ul>
			} else {
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@routes.Application.logout" class="unbold"><span class="bold">Log out</span></a></li>
                </ul>
			}
       	}
       	<div class="row row-centered">
       		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-centered">
		     	<div class="row">
			       	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			       		<div class="mobileCenter standardBox bottom-soft-corners top-soft-corners max20 white">
			       			<div id="bannerImage" class="pictureBox top-soft-corners
			       			@session.get("userHandle").map { handle =>
			       				@if(handle == profileData.handle) {
									opensFileOverlay highlightedBorderOnHover clickable
								}
			       			}
			       			" style='background-image: url("@routes.Application.lookUpImage(profileData.bannerImage)");'>&nbsp;</div>
			       			<img id="mainProfileImage" class="largeThumbPH inlineBlock circle superBordered
			       			@session.get("userHandle").map { handle =>
			       				@if(handle == profileData.handle) {
									opensFileOverlay highlightedBorderOnHover clickable
								}
			       			}
			       			" src='@routes.Application.lookUpImageThumb(profileData.profileImage)' alt="profile">
					       	<div class="profileData">
						       	<a href='@routes.Application.loadProfile(profileData.handle)' class="undecked black"><h5 class="bold">@profileData.fullName</h5></a>
						       	<div id="userProfileHandle" class="grey" style="margin-top:-.7em;">&#64;@profileData.handle</div>
					       	</div>
					       	<br>
					       	<div class="fullWidth">
						       	<div class="hangLeft thirdWidth">
						       		Grunts<br><a id="gruntsCount" href='@routes.Application.loadProfile(profileData.handle)' class="undecked black">@profileData.grunts.size</a>
						       	</div>
						       	<div class="hangLeft thirdWidth">
						       		Following<br><a id="followingCount" href='@routes.Application.followingPage(profileData.handle)' class="undecked black">@profileData.following.size</a>
						       	</div>
						       	<div class="hangLeft thirdWidth">
						       		Followers<br><a id="followersCount" href='@routes.Application.followersPage(profileData.handle)' class="undecked black">@profileData.followers.size</a>
						       	</div>
					       	</div>
				       	</div>
			       	</div>
			       	<div class="mobileWidth col-md-8 col-lg-8">
                        @session.get("userHandle").map { handle =>
                            <div id="mainGruntEntry" class="top-soft-corners bottom-soft-corners bordered fullWidth noOverflow white onACloud">
                                <div @if(handle != profileData.handle) {
									 id="markedOtherProfile"
								}
								name="grunt" class="gruntInputBox inForARoughRide buffer mostWidth bottom-soft-corners top-soft-corners bordered" contenteditable="true" spellcheck="true" role="textbox" aria-multiline="true" data-text="What's up with you?" onblur="wipePlaceholderBlur()"></div>
                                <button id="gruntSubmitButton" class="leanRight buffer gruntButton">Grunt</button>
								<button id="gruntAddImgButton" class="leanRight buffer gruntButton opensFileOverlay">Add Image</button>
                            </div>
                        }
				       	@grunts.map { grunt => 
				       		@partials.grunt(grunt, gruntProfilesData)
				       	}
				       	<div class="bordered eogBox bottom-soft-corners white">End of Grunts...</div>
			       	</div>
		       	</div>
	       	</div>
       	</div>
       	<div id="uploadPlaceholder"></div>
       	@partials.commonscripts() {
       		<script type='text/javascript' src='@routes.Assets.versioned("javascripts/profile.js")'></script>
       	}
	</body>
</html>