@(profileData: User, grunts: List[Grunt])

<html>
	@partials.headtag("OpenWalrus")
	<body>
		@partials.navbar() {
        	<ul class="nav navbar-nav navbar-right">
	            <li><a href="#" class="unbold">Have an account? <span class="bold">Log in</span></a></li>
	        </ul>
       	}
       	<a href='@routes.Application.loadProfile(profileData.handle)' class="undecked"><h3 class="bold">&#64;@profileData.handle</h3></a>
       	<p>@profileData.fullName<p>
       	<ul>
       	@grunts.map { grunt => 
       		<li>@grunt.handle - @grunt.fullName - @grunt.message</li>
       	}
       	</ul>
       	@partials.commonscripts()
	</body>
</html>